
//banner-top
#top-banner{
    background-color: @base-color;
    position: relative;
    transition: top 0.3s;
    img{
        opacity: 0.5;
        margin: 0;
        padding: 0;
        width: 100%;
        transition: top 0.6s;
    }
    .center-top-banner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #BannerTextOne{
        text-align: center;
        font-size: 11px;
        color: white;
    }
    #BannerTextTwo{
        text-align: center;
        font-size: 46px;
        color: white;
    }
    #ChangeBannerImage{
        margin: auto;
        width: 25px;
        #PlayAndPause{
        color: @base-color;
        margin: auto;
        height: 44px;
        width: 44px;
        cursor: pointer; 
        padding: 12px;
        text-align: center;
        background-color: #fff;
        background-size: cover;
        border-radius: 35px;
    }
  @keyframes spinner {

   
to {transform: rotate(360deg);} 
}

.spinner:before {
content: '';
position: absolute;
top: 57.5%;
right: 36%;
width: 55px;
height: 55px;
border-radius: 50%;
border: 1px solid #ccc;
border-top-color: #000;
animation: spinner 1s ease-out;
}
       
    }
    #BannerTextHome{
        text-align: center;
        padding-left: 30px;
        font-size: 34px;
        color: white;
    }
    #BannerTextThree{
        text-align: center;
        font-size: 14px;
        color: white;
    }
}
//Banner font size 
@media(max-width:1054px){
    #top-banner{
    #BannerTextTwo{
        font-size: 40px;
    }
}
}

@media(max-width:807px){
    #top-banner{
       #BannerTextOne{
        padding-left: 20px;
        }
    #BannerTextTwo{
        font-size: 8px;
    }
    #BannerTextHome{
        font-size: 18px;
    }
    #BannerTextThree{
        font-size: 6px;
    }
    #ChangeBannerImage{
        width: 15px;
        #PlayAndPause{
            i{
                padding-bottom: 10px;
            }
        height: 30px;
        width: 30px;
        padding: 8px;
        border-radius: 25px;
    }

}
    .spinner{
        display: none;
    }
}
}

