/*Font Family Variables*/

@base-font-family :"Cormorant-Bold";
@most-font-family :"Muli-Regular";
@most-font-family-bold:"Muli-Bold";
@base-subtitle-font:"Cormorant-SemiBold";

/*Color Variables*/

@base-color :#002346;
@base-hover-color : #009c91;